export KUBECONFIG=`pwd`/kubeconfig

export BOSH_ENVIRONMENT=aks
export BOSH_CA_CERT=$(bosh int creds.yml --path /director_ssl/ca)
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int creds.yml --path /admin_password)
