apiVersion: v1

clusters:
- cluster:
    certificate-authority: kubeconfigca.pem
    server: https://((cluster_ip))
  name: gcp

contexts:
- context:
    cluster: gcp
    user: admin
  name: gcp

current-context: gcp

kind: Config
preferences: {}

users:
- name: admin
  user:
    as-user-extra: {}
    username: admin
    password: ((password))
